body {
	background-image: url('../images/purty_wood.png');
	font: 11px Helvetica;
	background-color: #eee;
	width: 600px;
	margin: 40px auto;
}
h1, h2, h3, h4 {
	margin: 0 0 4px;
	color: #392613;
	text-shadow: 0 1px 0 hsl(30, 80%, 85%);
}
h3 {
	margin: 0 0 30px;
	padding: 0 0 16px;
	border-bottom: 1px solid hsl(33, 25%, 43%);
	box-shadow: 0 1px 1px 0px #F7D9BA;
}
h4 {
	margin: 0 0 8px;
}
.box {
	margin: 0 0 20px;		
	border-bottom: 1px solid hsl(33, 25%, 43%);
	box-shadow: 0 1px 1px 0px #F7D9BA;
}
a {
	display: inline-block;
	padding: 5px 8px;
	margin: 0 0 15px;
	border-radius: 5px;
	background-color: hsl(163, 62%, 40%);	
	text-decoration: none;
	text-shadow: 0 1px 0 #333;
	color: white;
	border-width: 1px;
	border-style: solid;
	border-color: hsl(183, 62%, 33%);
	box-shadow: 0 1px 0px 0px hsl(163, 82%, 70%) inset, 0 1px 4px -1px #333;
	font-size: 12px;
}